/*=============================================
=       Base CSS - Jofrid/puredrop6           =
=============================================*/

/* Pallet - https://coolors.co/palette/404552-383c4a-4b5162-5294e2-7c818c-d4d5d9 */



/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Universal */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.titleLink{
  text-decoration: none;
  color: #404552;
  padding: 5px;
  margin: 2px;
  font-size: 2em;
}

.titleLink:hover{
  background-color: #404552;
  color: #D4D5D9
}

h2{
  text-align: center;
}

header {
  background-color: #5294E2;
  color: #404552;
  padding: 5px;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 5px 25px;
  font-size: 1em;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #404552;
  color: #D4D5D9;
}

footer {
  text-align: center;
}

/* posts */

.post h3{
  font-size: 1.5em;
}

.post a {
  color: #5294E2;
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.italic {
  font-style: italic;
  font-size: 0.8em;
}




/*=====  End Base CSS - Jofrid/puredrop6  ======/

